<div class="row no-gutters m-3">
    <div class="card-header col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Sign up for a free quote!</h5>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
            {
                <div class="row no-gutters">
                    <div class="form-group col-md-12">
                        <input name="FirstName" type="text" class="form-control" placeholder="First Name" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="LastName" type="text" class="form-control" placeholder="Last Name" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="EMail" type="email" class="form-control" placeholder="Email Address" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="DateOfBirth" type="text" class="form-control" placeholder="Date Of Birth" onfocus="(this.type='date')"/>
                    </div>
                    <div class="form-group col-md-12">
                        <input name="CarYear" type="number" class="form-control" placeholder="Car Year" />
                    </div>                
                    <div class="form-group col-md-12">
                        <input name="CarMake" type="text" class="form-control" placeholder="Car Make" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="CarModel" type="text" class="form-control" placeholder="Car Model" />
                    </div>
                    <div class="form-group col-md-12">
                        <p>Have you ever had a DUI</p>
                        <select name="DUI" class="form-control">
                            <option value="yes">YES</option>
                            <option value="no">NO</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <input name="Tickets" type="number" class="form-control" placeholder="Number of Tickets You've Recieved" />
                    </div>
                    <div class="form-group col-md-12">
                        <p>Would you like full coverage or lib=ability only?</p>
                        <select name="Coverage" class="form-control">
                            <option value="full">Full Coverage</option>
                            <option value="liability">Liability Only</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-block btn-primary">Submit</button>

                </div>
            
            }
        </div>
    </div>
</div>